{
  "presets": [
    "es2015",
    "flow",
    "stage-2",
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-class-properties"
  ],
  "retainLines": true
}
