export CHRONICLE_ACCESS_KEY=FILL_IN
export CHRONICLE_SECRET_KEY=FILL_IN
export DB_HOST=localhost
export DB_USERNAME=FILL_IN
export DB_PASSWORD=FILL_IN
export DB_NAME=pollo
export GOOGLE_CLIENT_ID=FILL_IN
export GOOGLE_CLIENT_SECRET=FILL_IN
export GOOGLE_REDIRECT_URI=FILL_IN