DB_HOST=localhost
DB_USERNAME=FILL_IN
DB_PASSWORD=FILL_IN
DB_NAME=pollo
# DB_SSL= # only include this on real servers. if it is absent, ssl will not be used.
GOOGLE_CLIENT_ID=FILL_IN
GOOGLE_CLIENT_SECRET=FILL_IN
GOOGLE_REDIRECT_URI=FILL_IN
LOGIN_REDiRECT=http://localhost:3000 on dev, https://pollo.cornellappdev.com/ for prod
SESSION_SECRET=thiscanbeanything
