@import '../app/app';

.classes-list {
  margin: 8px 0px;
}

.class-item {
  font-weight: 600;
  padding: 16px;
  margin-bottom: 16px;
  background-color: $light-gray;

  @include interaction(white, $dark-gray, white, $dark-gray);
}

.classes-empty {
  padding: 8px;
  margin: 16px 0px;
  background-color: $light-gray;
  color: $dark-gray;
}
