@import '../app/app';

.classes-page {
  p {
    font-size: 0.8em;
  }
}

#add-class-button {
  font-weight: 600;
  padding: 8px;
  color: $dark-background-color;

  @include interaction(black, white, black, white);
}
