@import '../app/app';

$google-blue: #4285f4;
$google-light-blue: #68ABF7;

.google-login-btn {
  width: 240px;
  height: 50px;
  background-color: $google-blue;
  padding: 0;
  display: inline-flex;
  box-shadow: 2px 2px 6px rgb(150, 150, 150);
  @include transition();

  &:hover {
    box-shadow: 0px 0px 8px $google-light-blue;
  }
}

.google-login-icon {
  margin: 1px;
  height: 48px;
  width: 48px;
  color: $google-blue;
  background-color: white;
  i {
    line-height: 30px;
    width: 30px;
    padding: 8px;
  }
}

.google-login-text {
  position: relative;
  height: 50px;
  width: 190px;
  color: white;
  span {
    font-size: 1.5em;
    line-height: 50px;
  }
}

.login-page {
  h1 {
    font-size: 2em;
    padding: 1em;
  }
  padding: 5em;
  text-align: center;
}
