// Site-wide styling
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

/* Variables */

/* Colors */

$border-color: #D8D8D8;
$light-background-color: #F1F1F1;
$dark-background-color: #80868D;

/* App-wide styles */

body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Mixins */

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin usage: xs | sm | md | lg";
  }
}

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

@mixin interaction($hover-color, $hover-background, $active-color, $active-background) {
  cursor: pointer;
  &:hover {
    color: $hover-color;
    background-color: $hover-background;
  }

  &:active {
    color: $active-color;
    background-color: $active-background;
  }
}
